<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> VS Code</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div id="overlay">
    <div id="popup">
      <h3>Rename</h3>
      <form id="changeform" action="" method="post">
        <input id="changeinp" type="text" name="filename">
        <button>Change</button>
      </form>
    </div>
  </div>

    <div id="main">
      <div id="left">
        <div id="folder">
          <h4>Some Folder</h4>
          <div id="icons">
            <i id="fileicon" class="ri-file-line"></i>
            <i id="foldericon" class="ri-folder-add-line"></i>
            <!-- 1.refersh icon -->
          <a href="/"><i class="ri-refresh-line"></i></a>
            <i class="ri-file-copy-line"></i>
          </div>
        </div>
            <!-- 2.file cerate input-->
        <div class="form fileform">
          <form action="/filecreate">
            <input type="text" name="filename" placeholder="filename">
          </form>
        </div>
             <!--3. folder create input -->
        <div class="form folderform">
          <form action="/foldercreate">
            <input type="text" name="foldername" placeholder="foldername">
          </form>
        </div>
        


        <div id="files">
          <% files.forEach(function(elem){ %>
            <div class="file">
              <a href="/file/<%= elem.name %>">
                  <% if(elem.isDirectory()){ %>
                    <i class="ri-folder-line"></i>
                  <% } else { %>
                    <i class="ri-file-line"></i>
                  <% } %>
                  <%= elem.name %>
              </a>
              <div class="ficons">
                <!--4. click the pencile icon and reaname it-->
                <i id="edit" data-val="<%= elem.name %>" class="ri-pencil-line"></i>

                 <!--5. click the delete icon and delete folder  --> 
                <% if(elem.isDirectory()){ %>
                  <a href="/folder/delete/<%= elem.name %>"><i class="ri-delete-bin-5-line"></i></a>
                <% } else { %>
                  <!--5. click the delete icon and delete file --> 
                    <a href="/file/delete/<%= elem.name %>"><i class="ri-delete-bin-5-line"></i></a>
                <% } %>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div id="right">
        <small>nothing to show here.</small>
      </div>
    </div>



    <script>
// rename display hoga in center
      document.querySelector("#files")
      .addEventListener("click", function(dets){
        if(dets.target.id === "edit"){
          document.querySelector("#overlay").style.display = "initial";
          document.querySelector("#changeinp").value = dets.target.dataset.val;
          document.querySelector("#changeform").setAttribute("action", `/change/${dets.target.dataset.val}`)
        }
      });



      // file ya to folder dono sath me open na ho jaye esiliye
      //  donooffkrdo() function create krenge
      function donoOffKaro(){
        document.querySelectorAll(".form")
        .forEach(function(form){
          form.style.display = "none";
        })
      }

      // file  open hoga 
      var openfile = 0;
      document.querySelector("#fileicon")
      .addEventListener("click", function(){
        donoOffKaro();
        if(openfile === 0){
          document.querySelector(".fileform").style.display = "initial";
          openfile= 1;
        }
        else{
          document.querySelector(".fileform").style.display = "none";
          openfile = 0;
        }
      })

      // folder  open  hoga 
      var openfolder = 0;
      document.querySelector("#foldericon")
      .addEventListener("click", function(){
        donoOffKaro();
        if(openfolder === 0){
          document.querySelector(".folderform").style.display = "initial";
          openfolder = 1;
        }
        else{
          document.querySelector(".folderform").style.display = "none";
          openfolder = 0;
        }
      })



    </script>
</body>
</html>